{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="{% static 'script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="parent">
    <div class="main-container">
      <div class="title-container">
        <div class="main-title">모의 전투</div>
        <div class="sub-title">두 캐릭터의 모의 전투를 해보세요.</div>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input-container">
            <div class="input-title-container">
              <div class="input-title">캐릭터 정보 1</div>
              <div>
                <button class="input-btn" type="button" onclick="saveCharacter('character1')">저장하기</button>
                <button class="input-btn" type="button">불러오기</button>
              </div>
            </div>
            <div class="input-main-container">
              <div class="pd-10">
                <input
                  name="character1_name"
                  class="input-box input-name"
                  type="text"
                  required
                  placeholder="캐릭터 이름"
                />
              </div>
              <div class="pd-10">
                <input
                  name="character1_text"
                  class="input-box input-content"
                  type="text"
                  required
                  placeholder="캐릭터 정보"
                />
              </div>
            </div>
        </div>
          <div class="input-container">
            <div class="input-title-container">
              <div class="input-title">캐릭터 정보 2</div>
              <div>
                <button class="input-btn" type="button" onclick="saveCharacter('character2')">저장하기</button>
                <button class="input-btn" type="button">불러오기</button>
              </div>
            </div>
            <div class="input-main-container">
              <div class="pd-10">
                <input
                  name="character2_name"
                  class="input-box input-name"
                  type="text"
                  required
                  placeholder="캐릭터 이름"
                />
              </div>
              <div class="pd-10">
                <input
                  name="character2_text"
                  class="input-box input-content"
                  type="text"
                  required
                  placeholder="캐릭터 정보"
                />
              </div>
            </div>
          </div>
        <div class="mg-10"><button class="battle-btn" type="submit">전투 시작</button></div>
      </form>
      <div class="result-container" id="result-container" style="display: none;">
        <div class="title-container">
          <div class="sub-title">최근 배틀 결과</div>
          <div class="input-title-container pd-10">
            <div class="result-text1" id="character1-name">{{battle_result.character1_name}}</div>
            <div>VS</div>
            <div class="result-text2" id="character2-name">{{battle_result.character2_name}}</div>
          </div>
        </div>
        <div class="result-content-container">
          <div class="result-content pd-10" id="result-text">
            {{battle_result.text}}
          </div>
          <div class="parent">
            <div class="pd-10">🎉</div>
            <div class="result-name" id="result">{{battle_result.result}}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% if battle_result %}
<script>
  const data = {
    character1_name: "{{battle_result.character1_name}}",
    character1_text: "{{battle_result.character1_text}}",
    character2_name: "{{battle_result.character2_name}}",
    character2_text: "{{battle_result.character2_text}}",
  }

  showBattleResult();
  setCharacterText(data);
</script>
{% endif %}